.breadcrumbs {   
    & li {
        display: inline-block;

        & a {
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 14px;
            color: #636363;

            &:hover {
                text-decoration: underline;
                color: #000;
            }
        }

        & + li::before {
            content: '/ ';
            margin: 0 5px;
        }
    }
}