.header {
    position: relative;
    background-color: #222;
    padding: 18px 0;

    & svg {
        fill: #E8E8E8;

        &:hover {
            fill: $color_pink-red; 
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left svg {
        margin-left: 40px;
    }

    &__right {
        overflow: hidden;

        & * + *{
            margin-left: 33px;
        }
    }
}



