@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.h1--big {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
}

.border--pink {
  border: 1px solid #F16D7F;
}

.text--pink {
  color: #F16D7F;
}

.btn--pink {
  background-color: #F16D7F;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  padding-left: 16px;
  color: #222222;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: #222;
}

.header svg {
  fill: #E8E8E8;
}

.header svg:hover {
  fill: #F16D7F;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  margin: 18px 0;
}

.header__left svg {
  margin-left: 40px;
}

.header__right * + * {
  margin-left: 33px;
}

.main {
  position: relative;
}

.main__menu {
  display: none;
  width: 232px;
  height: 764px;
  position: absolute;
  padding: 37px 34px;
  top: 0%;
  right: 0%;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.main__menu .close {
  display: block;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.main__menu .close:hover {
  color: #F16D7F;
}

.main__menu .categories {
  margin-top: 24px;
}

.main__menu h3 {
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
}

.main__menu dt {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}

.main__menu dd {
  margin-top: 12px;
  margin-left: 12px;
}

.main__menu a {
  text-decoration: none;
  font-size: 14px;
  color: #6F6E6E;
}

.main__menu a:hover {
  color: #000;
}

.hiro {
  background-color: #F1E4E6;
  height: 764px;
}

.hiro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hiro__heading {
  margin-top: 290px;
  margin-right: 100px;
}

.hiro__heading h1 {
  border-left: 12px solid #F16D7F;
}

.catalog {
  margin-top: 65px;
}

.catalog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item {
  position: relative;
  width: 360px;
  height: 260px;
  cursor: pointer;
}

.catalog__item img {
  width: 100%;
}

.catalog__item p {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  bottom: 40%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.catalog__item span {
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
}

.catalog__item:last-child {
  width: 100%;
  margin-top: 30px;
}

.catalog__item::before {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(33, 22, 22, 0.7);
  -webkit-transition: .8s;
  transition: .8s;
}

.catalog__item:hover::before {
  background-color: rgba(33, 22, 22, 0.4);
  -webkit-transition: .9s;
  transition: .9s;
}

.cart {
  margin-top: 96px;
  text-align: center;
}

.cart__header h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.cart__header p {
  margin-top: 6px;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.cart__body {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
  width: 360px;
  height: 580px;
  text-align: initial;
  background-color: #F8F8F8;
  margin-top: 30px;
}

.cart__item:hover::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart__item:hover::after {
  display: block;
  content: 'Add to Cart';
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 50%;
  border: 1px solid #fff;
  padding: 14px 16px 14px 50px;
  background-image: url("../images/icon-shoppinCart.svg");
  background-position: 14px;
  background-repeat: no-repeat;
  color: #fff;
}

.cart__item__img {
  width: 360px;
  height: 420px;
}

.cart__item img {
  width: 100%;
}

.cart__item__content {
  padding: 25px 16px 20px;
}

.cart__item__content h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.cart__item__content p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-top: 12px;
}

.cart__item__content span {
  display: inline-block;
  line-height: 19px;
  margin-top: 18px;
}

.cart__btn a {
  padding: 15px 40px;
  display: inline-block;
  margin-top: 48px;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: .2s;
  transition: .2s;
}

.cart__btn a:hover {
  background-color: #F16D7F;
  color: #fff;
}

.service {
  background-color: #222224;
  margin-top: 95px;
  padding: 104px 0;
}

.service__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__item {
  text-align: center;
  width: 360px;
  height: 134px;
}

.service__item h3 {
  margin-top: 19px;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.service__item p {
  margin-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

.feedback {
  position: relative;
  background-image: url("../images/bg-feedback.jpg");
  background-size: 100%;
  height: 448px;
}

.feedback__body {
  background-color: rgba(244, 244, 244, 0.7);
  height: 100%;
}

.feedback__body > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedback__left {
  margin-top: 97px;
  text-align: center;
  font-size: 20px;
}

.feedback__left img {
  border-radius: 50px;
}

.feedback__left p {
  margin-top: 30px;
  width: 360px;
}

.feedback__right {
  width: 557px;
  text-align: center;
  margin-top: 150px;
}

.feedback__right h2 {
  line-height: 167.2%;
  color: #222423;
}

.feedback__right h3 {
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  color: #222224;
}

.feedback__right .submit {
  display: block;
  width: 356px;
  background-color: #E1E1E1;
  border-radius: 22px;
  margin: 32px auto 0;
  overflow: hidden;
  font-size: 14px;
}

.feedback__right input,
.feedback__right button {
  float: left;
  padding: 20px 22px;
  border: none;
  outline: none;
  color: #222224;
}

.feedback__right input {
  width: 256px;
}

.feedback__right input::-webkit-input-placeholder,
.feedback__right input:-moz-placeholder {
  opacity: 0.67;
}

.feedback__right button {
  width: 100px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.feedback__right button:hover {
  background-color: #E05C6E;
}

.footer {
  background-color: #222224;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
}

.footer__left {
  color: #FBFBFB;
}

.footer__right svg {
  fill: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__right svg .svg-icon {
  fill: black;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__right a + a {
  margin-left: 7px;
}

.footer__right a:hover svg {
  fill: #F16D7F;
}

.footer__right a:hover svg .svg-icon {
  fill: white;
}
/*# sourceMappingURL=style.css.map */